@import "/src/assets/styles/custom-all.scss";

.favoriteContainer {
  .searchBar {
    @include searchBar($mainColor);
  }
  .title {
    font-size: 26px;
    padding: 50px 0 0 0;
  }
  .favoriteContent {
    display: flex;
    justify-content: center;
    align-items: center;
    .favoriteBox {
      width: 50vw;
      height: 53vh;
      display: flex;
      flex-wrap: wrap;
      padding: 30px;
      justify-content: center;
      align-items: flex-start;
      box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.15);

      .cdkVirScrollBar {
        width: 100%;
        height: 70%;
      }

      .favoriteItem {
        padding: 10px;
        // width: 339px;
        height: 71px;
        display: flex;
        justify-content: space-between;
        margin: 10px auto;
        border-radius: 12px;
        box-shadow: 0px 4px 10px -1px rgba(0, 0, 0, 0.15);
        background-color: $white;
        .routeTitle {
          & > div:first-child {
            font-size: 20px;
            color: #f76a4b;
          }
          display: flex;
          justify-content: space-between;
        }
        .routeInfo {
          display: flex;
          justify-content: space-between;
          align-items: flex-start;
          color: $black;
          flex-direction: column;
          width: 82%;
        }
        .otherAction {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          align-items: flex-end;
        }
      }
    }
  }
}
