<app-nav [detailMenuStyle]="false"></app-nav>
<div class="homeContainer">
  <div class="content">
    <div class="imgContainer">
      <img src="assets/images/HelloBus_light.png" alt="HelloBus_light.png" />
    </div>
    <div class="">全台公車動態時刻查詢網</div>
  </div>
  <div class="action">
    <ul>
      <li>
        <div class="actionBtn">
          <a [routerLink]="'/busStatus'"
            ><img src="assets/icons/busStatus.png" alt="busStatus.png"
          /></a>
          公車動態
        </div>
      </li>
      <li>
        <div class="actionBtn">
          <a [routerLink]="'/station'"
            ><img src="assets/icons/station.png" alt="station.png"
          /></a>
          附近站點
        </div>
      </li>
      <li>
        <div class="actionBtn">
          <a [routerLink]="'/scheduleList'"
            ><img src="assets/icons/scheduleList.png" alt="scheduleList.png"
          /></a>
          班表查詢
        </div>
      </li>
      <li>
        <div class="actionBtn">
          <a [routerLink]="'/favarite'"
            ><img src="assets/icons/favarite.png" alt="favarite.png"
          /></a>
          我的收藏
        </div>
      </li>
    </ul>
  </div>
</div>
