<!-- TODO:mobile menu -->

<app-nav [detailMenuStyle]="true"></app-nav>
<app-site-map [detailMenuStyle]="true"></app-site-map>
<div class="routeDetailContainer">
  <div class="routeInfoGroup textCenter">
    <div class="action">
      <img
        (click)="showScheduleList()"
        class="actionBtn pointer"
        src="assets/icons/scheduleList.png"
        alt="scheduleList.png"
      />
      <span class="pointer" (click)="showScheduleList()">公車班表</span>
    </div>

    <div class="routeBasicInfo" *ngIf="routeDetail">
      <div class="title">{{ routeDetail.RouteName?.Zh_tw }}</div>
      <div>
        {{ departureStopName }}
        <i class="fas fa-long-arrow-alt-right"></i>
        {{ distinationStopName }}
      </div>
    </div>
  </div>
  <div class="stopsGroup">
    <div class="stopInfo">
      <div class="directionGroup">
        <div class="direction">
          <span>行駛方向 </span>
          <div>往 {{ distinationStopName }}</div>
        </div>
        <div class="pointer" (click)="changeDirection()">
          <img src="assets/icons/exchange.png" alt="exchange.png" />
        </div>
      </div>
      <hr />
      <div class="stopDetailGroup">
        <cdk-virtual-scroll-viewport itemSize="10" class="cdkVirScrollBar">
          <div
            *cdkVirtualFor="let stopData of lstStopData; let idx = index"
            class="stopDetail"
            [ngClass]="{
              commingStopDetail:
                stopData?.estimateTime === 1 || stopData?.estimateTime === 0
            }"
          >
            <div class="timeLineGroup">
              <div class="timeLine" *ngIf="idx !== 0"></div>
              <div class="timePoint"></div>
            </div>
            <!-- {{ stopData?.estimateTime }} -->
            <div class="busStatusMsg">
              {{ stopData?.statusMsg }}
            </div>
            <div class="busStatusGroup">
              <div class="busStopName">
                {{ idx + 1 }} {{ stopData?.stopName }}
              </div>
              <div
                class="busPlateNumb"
                *ngIf="
                  stopData?.estimateTime === 1 || stopData?.estimateTime === 0
                "
              >
                <span *ngIf="stopData.vehicle === 1; else normalBus">
                  <i class="fas fa-wheelchair"></i>
                </span>
                <ng-template #normalBus>
                  <i class="fas fa-bus"></i>
                </ng-template>

                {{ stopData?.plateNumb }}
              </div>
            </div>
          </div>
        </cdk-virtual-scroll-viewport>
        <div>{{ countDownTimer }}秒後更新</div>
        <span [style.display]="'none'">{{ timer | async }}</span>
      </div>
    </div>

    <div class="googleMap">
      <app-custom-google-map
        [lstStopData]="lstStopData"
        [currentDirection]="currentDirection"
      ></app-custom-google-map>
    </div>
  </div>
</div>
