/* You can add global styles to this file, and also import other style files */
@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "~@fortawesome/fontawesome-free/scss/regular";
@import "~@fortawesome/fontawesome-free/scss/brands";

// 載入設計稿使用的字體
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500;700&family=Roboto:wght@400;500;700&display=swap");

@import "/src/assets/styles/custom-all.scss";

html,
body {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: "Noto Sans TC", "Roboto", sans-serif !important;
  height: 100%;
}

// tablet
@media only screen and (max-width: 1199px) {
  body {
    .nav {
      display: none !important;
    }
    .mobileNav {
      display: none !important;
    }
  }
}

// mobile
@media only screen and (max-width: 767px) {
  body {
    .nav {
      display: none !important;
    }
    .mobileNav {
      display: none !important;
    }
    .filterContainer {
      height: 25vh !important;
      .routeNameContainer {
        display: flex;
        flex-direction: column;
        select {
          width: 100% !important;
          option {
            max-width: 20% !important;
          }
        }
      }
    }
    .searchResultContainer {
      .keyboard {
        display: none !important;
      }
    }
    .container {
      height: 40vh !important;
      .content {
        img {
          transform: scale(0.4);
          margin-bottom: -20px;
        }
        &:nth-child(2) {
          font-size: 16px !important;
        }
      }
      .bgImg {
        @include setBackgroundImage("picMaskBgMobile.png", true);
        top: -31px !important;
      }
      .action {
        transform: scale(0.6);
        li {
          margin: 10px 20px !important;
        }
      }
    }
  }
}
