/* You can add global styles to this file, and also import other style files */
@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "~@fortawesome/fontawesome-free/scss/regular";
@import "~@fortawesome/fontawesome-free/scss/brands";

// 載入設計稿使用的字體
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500;700&family=Roboto:wght@400;500;700&display=swap");

@import "/src/assets/styles/custom-all.scss";

html,
body {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: "Noto Sans TC", "Roboto", sans-serif !important;
  height: 100%;
}
@media only screen and (min-width: 1024px) and (max-width: 1366px) {
  body {
    .nav .logo {
      left: 4vw !important;
    }
    .siteMap {
      margin: 0 0 16px 6vw !important;
    }
  }
}
// 未完成
// tablet
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  body {
    .siteMap {
      margin: 0 !important;
      padding: 10px 0 !important;
    }

    .homeContainer {
      @include setBackgroundImage("picMaskBgMobile.png", true);

      .content {
        // justify-content: flex-start !important;
        height: 50% !important;
        .imgContainer {
          margin-top: 30px !important;
          img {
            transform: scale(0.6);
            margin-bottom: -20px;
          }
        }
        .title {
          font-size: 25px !important;
        }
      }
      .action {
        // transform: scale(0.6);
        bottom: 6vh;
        li {
          margin: 10px 20px !important;
        }
      }
    }
  }
}

// mobile
@media only screen and (min-width: 321px) and (max-width: 767px) {
  body {
    .siteMap {
      margin: 0 !important;
      padding: 10px 0 !important;
    }

    .keyboard {
      // display: none !important;
      gap: 5px !important;
      padding: 0 !important;
      box-shadow: 0 0 0 !important;
      width: 254px !important;
      height: 281px !important;
      .keyboardBtn {
        line-height: 45px !important;
        width: 45px !important;
        height: 45px !important;
      }
    }
    .nav {
      display: none !important;
    }
    .mobileNav {
      display: "" !important;
    }
    .toolBar {
      display: flex !important;
    }
    .filterContainer {
      height: 23vh !important;
      .routeNameContainer {
        display: flex;
        flex-direction: column;
        select {
          width: 97% !important;
          option {
            max-width: 20% !important;
          }
        }
      }
    }
    .searchResultContainer {
      .searchResultList {
        margin: 0 !important;
      }
      .keyboard {
        display: none !important;
      }
    }
    .footer {
      font-size: 12px;
    }
    .homeBackGroundImg {
      @include setBackgroundImage("picMaskBgMobile.png", true);
      top: -5vh !important;
    }
    .homeContainer {
      margin-top: -46px !important;
      height: 98vh !important;
      .content {
        justify-content: flex-start !important;
        margin-top: 10vh;
        .imgContainer {
          margin: 30px !important;
          img {
            //  <!-- <img src="assets/images/logo.png" alt="logo.png" /> -->
            transform: scale(2);
            content: url("assets/images/logo.png");
          }
        }
      }
      .action {
        transform: scale(0.6);
        li {
          margin: 10px 20px !important;
        }
      }
    }

    .favoriteContainer {
      .searchBar {
        height: 20vh !important;
      }
      .favoriteBox {
        width: 75vw !important;
        height: 66vh !important;
        padding: 5px 30px !important;
      }
    }

    .routeDetailContainer {
      .routeInfoGroup {
        padding: 10px 5px !important;
        .action {
          justify-content: flex-start !important;
          margin-left: -20px;
          flex-direction: column;
          .scheduleList {
            display: none;
          }
        }
        grid-template-columns: repeat(3, 1fr) !important;
        .mobileGoogleMapBtn {
          display: block !important;
          font-size: 45px;
          color: white;
          line-height: 100px;
        }
        .routeBasicInfo {
          font-size: 14px !important;
          width: 155px;
        }
        .action {
          margin-bottom: 0;
        }
      }
      .stopInfo {
        width: 90% !important;
        margin: 0 auto !important;
        height: 50vh !important;
        padding: 0 !important;
      }
      .stopsGroup {
        justify-content: flex-start !important;
      }
    }
  }
}
