@mixin searchBar($bgColog: $mainColor) {
  height: 30vh;
  background-color: $bgColog;
  border-radius: 0 0 20px 20px;
}

@mixin setBackgroundImage($imageName, $important: false) {
  $imagePath: "../images/" + $imageName;
  background-image: url($imagePath) if-important($important);
}

@function if-important($important) {
  @return #{if($important, "!important", "")};
}
