// main
$mainColor: #5a637e;
$mainFornColor: #4c546a;
$mainColor2: #5cbcdb;

// secondary
$secondaryYellow: #edbe62;
$secondaryOrange: #f66a4b;
$secondaryGray: #bcc1d1;

// other
$white: white;

$boxShadow: 0 10px 30px $secondaryGray;
