input {
  outline: none;
}

img {
  padding: 0;
}

ul {
  margin: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}

.pointer {
  cursor: pointer;
}

.textLeft {
  text-align: left;
}

.textRight {
  text-align: right;
}

.textCenter {
  text-align: center;
}
