// main
$mainColor: #5a637e;
$mainFornColor: #4c546a;
$mainColor2: #5cbcdb;

// secondary
$secondaryYellow: #edbe62;
$secondaryOrange: #f66a4b;
$secondaryGray: #bcc1d1;

// keyboard
$keybordRed: #de6868;
$keybordBlue: #5274cd;
$keybordBrown: #b39076;
$keybordGreen: #83c986;
$keybordYellow: #edbe62;
$keybordOrange: #e88c59;
$keybordGray: #b1b4be;

// other
$white: white;

$boxShadow: 0 10px 30px $secondaryGray;
