<div class="container">
  <div class="searchBar">
    <app-nav></app-nav>
    <div class="siteMap">
      <span>首頁</span>
      <i class="fas fa-chevron-right"></i>
      <span>公車動態</span>
    </div>
    <div class="filter">
      <div>
        <div class="tip">*選擇縣市有助於您更快找到路線</div>
        <div>
          <form [formGroup]="myForm">
            <div class="keywordContainer">
              <!-- <mat-form-field class="citySelect" appearance="legacy">
                <mat-select
                  placeholder="請選擇縣市"
                  formControlName="city"
                  name="item"
                >
                  <mat-option
                    *ngFor="let option of options"
                    [value]="option.CityName"
                  >
                    {{ option.CityName }}
                  </mat-option>
                </mat-select>
              </mat-form-field> -->
              <select required formControlName="city" class="citySelect">
                <option value="" selected>請選擇縣市</option>
                <option
                  *ngFor="let option of options"
                  [value]="option.CityName"
                >
                  {{ option.CityName }}
                </option>
              </select>
              <!-- <input
                readonly
                type="text"
                matInput
                placeholder="請選擇縣市"
                formControlName="city"
                [matAutocomplete]="auto"
              /> -->
              <input
                type="text"
                matInput
                placeholder="請輸入關鍵字"
                formControlName="keyword"
              />
              <div class="action">
                <span
                  class="pointer reset"
                  (click)="myForm.get('keyword')?.reset()"
                  ><i class="fas fa-times"></i
                ></span>
                <!-- <button class="pointer search" mat-icon-button>
                  <mat-icon>search</mat-icon>
                </button> -->
              </div>
            </div>
          </form>
          <mat-autocomplete #auto="matAutocomplete">
            <mat-option
              *ngFor="let option of filteredOptions | async"
              [value]="option.CityName"
            >
              {{ option.CityName }}
            </mat-option>
          </mat-autocomplete>
        </div>
      </div>
    </div>
  </div>
  <div class="searchResultContainer">
    <div class="searchResultList">
      <div class="title textCenter">搜尋結果</div>
      <div class="searchResultContent"></div>
    </div>
    <div class="keyboard">
      <div
        class="pointer"
        *ngFor="let item of lstKeyboardBtn"
        class="{{ item.className }} keyboardBtn"
      >
        <ng-container [ngSwitch]="item.displayName">
          <ng-container *ngSwitchCase="''">
            <a (click)="backSpace()"><i class="fas fa-backspace"></i></a>
          </ng-container>

          <ng-container *ngSwitchDefault>
            <a (click)="search(item.displayName)"> {{ item.displayName }}</a>
          </ng-container>
        </ng-container>
      </div>
    </div>
  </div>
</div>
